.toc-article {
  visibility: hidden;
  position: fixed;
  background: #eee;
  margin: -30rem 2rem 0 82rem;
  padding: 1em;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  line-height: 1.5em;
  font-size: 0.7em;
  float: right;
  max-width: 30%;
  min-width: 200px;
  border: 1px solid #c0c0c0;
  white-space: 8;
  overflow: hidden;
/*下级目录的缩进量 */
}
.toc-article strong {
  padding: 0.3em 0;
}
.toc-article ol,
.toc-article li {
  margin: 0 0 0 0.2em;
  list-style-type: none;
  padding-inline-start: 0.5rem;
}
.toc-article ol li:before {
  display: none;
}
.toc-article .toc-child {
  margin-left: 0.8em;
}
